<div class="jumbotron">
	<div id="profile">
					<img src="http://s3-media3.fl.yelpcdn.com/bphoto/QVYLwoXyV-00ihigoiInRw/o.jpg"/ height="300px" width="300px">
					<p>Name: <%=@user.full_name%> </p><br>
					<p>Email: <%=@user.email %> </p></br>
					<p>Facebook: <%=@user.facebook_url%></p></br>
					<p>Gender: <%=@user.gender%></p>		
</div>
</div>